<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>光华酿造后台管理系统</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../../public/admin/css/font.css">
        <link rel="stylesheet" href="../../public/admin/css/xadmin.css">
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎管理员：
            <span class="x-red"><?=$username?></span>！当前时间:2018-04-25 20:50:53</blockquote>
        <fieldset class="layui-elem-field">
            <legend>数据统计</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>用户数</h3>
                                                <p>
                                                    <cite><?=$u_count?></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>商品数</h3>
                                                <p>
                                                    <cite><?=$v_count?></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>评论数</h3>
                                                <p>
                                                    <cite><?=$c_count?></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>回复数</h3>
                                                <p>
                                                    <cite><?=$re_count?></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>类别数</h3>
                                                <p>
                                                    <cite><?=$ca_count?></cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>



        <fieldset class="layui-elem-field">
            <legend>后台系统信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>服务器地址</th>
                            <td>39.108.68.158</td>
                        </tr>
                        <tr>
                            <th>作者</th>
                            <td>张泽天</td>
                        </tr>
                        <tr>
                            <th>班级</th>
                            <td>B160618</td>
                        </tr>
                        <tr>
                            <th>学号</th>
                             <td>18</td>
                        </tr>
                        <tr>
                            <th>数据库</th>
                            <td>MySQL</td>
                        </tr>
                        <tr>
                            <th>运行环境</th>
                            <td>Control Panel Version: 3.2.2  [ Compiled: Nov 12th 2015 ]</td>
                        </tr>
                        <tr>
                            <th>PHP版本</th>
                            <td>5.6.15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>