<div id="footer">
    <div class="box">
        <ul>
            <li class="bold"><a href="">关于光华</a></li>
            <li><a href=""></a><a href="">公司介绍</a></li>
            <li><a href="">新闻中心</a></li>
            <li><a href="">卓越成就</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
        <ul>
            <li class="bold"><a href="">品牌介绍</a></li>
            <li><a href="">品牌理念</a></li>
            <li><a href="">卓越品质</a></li>
            <li><a href="">精彩活动</a></li>
        </ul>
        <ul>
            <li class="bold"><a href="">加入光华</a></li>
            <li><a href="">校园招聘</a></li>
            <li><a href="">校园招聘</a></li>
            <li><a href="">招聘职位</a></li>
        </ul>
        <ul>
            <li class="bold"><a href="">全球业务</a></li>
            <li><a href="">校园招聘</a></li>
            <li><a href="">校园招聘</a></li>
            <li><a href="">招聘职位</a></li>
        </ul>
    </div>
</div>

<script src="../../public/front/js/jquery-3.3.1.js"></script>
<script src="../../public/front/js/index.js"></script>
<!--</div>-->
