<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="潇洒">
    <link rel="stylesheet" href="../../public/front/css/index.css">
    <link rel="stylesheet" href="../../public/front/font/iconfont.css">
    <title>Zzt_PHP大作业</title>
</head>
<body>
    <!-- header start -->
    <div id="header">

        <div id="h-mian">
            <div class="h_m_left">
                <ul>
                    <li><a href="">关注光华公众号</a>|</li>
                    <li><a href="">关注光华小程序</a>|</li>
                    <li><a href="">问题反馈</a>|</li>
                    <li><a href="">look Guanghua</a>|</li>
                </ul>
            </div>
            <div class="h_m_right">
                <ul class="h_m_r_login">
                    <?php
                        if(isset($_SESSION['user'])){
                    ?>
                    <li><a class="user_login"><?=$_SESSION['user']['username']?> 欢迎您</a>|</li>
                    <li><a href="../../front/user/logout.php">退出</a>|</li>
                    <li class="person"><a class="person" href="../../front/user/person.php?id=<?=$_SESSION['user']['id']?>">个人中心</a>|</li>
                    <?php
                        }else{
                    ?>
                    <li><a href="../../front/user/login.php">登录</a>|</li>
                    <li><a href="../user/register.php">注册</a>|</li>
                    <li><a href="">通知消息</a>|</li>
                    <?php
                        }
                    ?>
                </ul>
            <?php
                if(isset($_SESSION['user'])){
            include_once ROOT_PATH."front/user/header.php";
            ?>
            <?php 
                if($result_id['role'] == 1){?>
                    <div class="h_m_r_buy">
                        <a href="../../admin/home/index.php" class="buy"></span>后台管理</a>
                    </div>

                <?php }else{?>
                <div class="h_m_r_buy">
                    <a href="" class="buy"><span class="iconfont icon-gouwuche1"></span>购物车(<?=$count?>)</a>
                    <div class="hide">
                        <?php foreach($result_shopping as $item):?>
                         <!-- 购物车里面没有内容,赶紧选购吧！ -->
                         <div class="h_main">
                             <div class="img">
                            <img src="../../public/upload/<?=$item['image']?>" style="width:40px;height:40px;" alt="">
                            </div>
                            <div class="content">
                            <span><?=$item['v_name']?></span>
                            <span><?=$item['price']?></span>
                        </div>
                        </div>
                        <?php endforeach;?>
                        <?php
                        if($count==(0)){
                        ?>
                                    <!-- <div class="h_main"> -->
                                    <p class="h_shop">购物车里面没有内容,赶紧选购吧！</p> 
                                     <!-- </div> -->
                        <?php 
                        }else{
                            ?>
                        <div class="vinegar">
                                <form action="../../front/user/shoppinglist.php?id=<?=$item['v_id']?>" method="POST">
                                <div class="v_left">
                                <p>共 <span class="index"><?=$count?></span> 件商品</p>
                                <p><span class="price"><?=$sum?></span>元</p>
                                </div>
                                <div class="v_right">
                                    <button>去购物车结算</button>
                                </div>
                            </form>
                            </div>
                        <?php
                        }
                        ?>
                    </div>
                </div>
                <?php }?>
        <?php
            }else{
        ?>
        <div class="h_m_r_buy">
            <a href="" class="buy"><span class="iconfont icon-gouwuche1"></span>购物车(0)</a>
            <div class="hide">
                <!-- <div class="h_main"> -->
                <p class="h_shop">购物车里面没有内容,赶紧选购吧！</p> 
                 <!-- </div> -->
            </div>
        </div>
        <?php
        }
        ?>
            </div>
           
        </div>
    </div>
    <!-- header end -->

    <!-- nav start -->
    <div id="nav">
        <div class="nav_content">
            <!-- logo -->
            <div class="n_logo">
                <a href=""><img src="../../public/front/image/mi-logo.png" width="60px" height="49px" alt=""></a>
            </div>
            <div class="nav_list">
                <ul>
                    <li><a style="color:#f60;" href="../../front/home/index.php">首页</a></li>
                    <li><a href="../../front/about/about.php">关于我们</a></li>
                    <li><a href="../../front/vinegar/list_vinegar.php">全部商品</a></li>
                    <li><a href="">公司动态</a></li>
                    <li  style="border-right:1px solid #ccc;"><a href="">联系我们</a></li>
                </ul>
            </div>
            <div class="n_main">
                <ul>
                    <li class="product"><a><img src="../../public/front/image/bz/bz1.gif" style="width: 68px;height: 60px;" alt=""></a></li>
                    <li class="product"><a><img src="../../public/front/image/bz/bz3.gif" style="width: 68px;height: 60px;" alt=""></a></li>
                    <li class="product"><a><img src="../../public/front/image/bz/bz2.gif" style="width: 68px;height: 60px;" alt=""></a></li>
                    <li class="product"><a><img src="../../public/front/image/bz/bz4.gif" style="width: 68px;height: 60px;" alt=""></a></li>
                    <li class="product"><a><img src="../../public/front/image/bz/bz6.png" style="width: 68px;height: 60px;" alt=""></a></li>
                    <li class="product"><a><img src="../../public/front/image/bz/bz5.gif" style="width: 68px;height: 60px;" alt=""></a></li>
                    <!-- <li class="product"><a href="">服务</a></li> -->
                    <!-- <li class="product"><a href="">社区</a></li> -->
                </ul>
            </div>
            <!-- <form action="../../front/vinegar/list_vinegar.php"  method="post"> -->
            <div class="n_search">
                <div class="n_s_input">
                    <input type="text" id="input" name="v_name" value="">
                    <a href="../user/details.php?id=3" class="a1 tip">光华醋</a>
                    <a href="../user/details.php?id=10" class="a2 tip">光华9°塔醋</a>
                    <div class="hide">
                        <ul>
                            <li><a href="../user/details.php?id=18"><span class="s1">特级酱油</span><span class="s2">约有10件</span></a></li>
                            <li><a href="../user/details.php?id=20"><span class="s1">方瓶料酒</span><span class="s2">约有3件</span></a></li>
                            <li><a href="../user/details.php?id=3"><span class="s1">光华醋</span><span class="s2">约有3件</span></a></li>
                            <li><a href="../user/details.php?id=13"><span class="s1">一品鲜酱油</span><span class="s2">约有6件</span></a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="n_s_btn">
                    <button onclick="log()"><span class="iconfont icon-sousu" style="cursor:pointer"></span></button>
               

         
            
            