<?php include_once ROOT_PATH."view/front/header.html"?>
</form>
</div>
</div>
</div>
<?php include_once ROOT_PATH."view/front/nav_hide.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/front/css/list_vinegar.css">
</head>
<body>
        
    <div id="content">
        <div class="smart">
            <h2 class="h2">您要找的空空入也,请重新搜索吧!</h2>
            <img src="../../public/front/image/kong.jpg" style="margin-left:370px;margin-top:100px;width:250px;height:200px;" alt="">
    </div>
    <script src="../../public/front/js/jquery-3.3.1.js"></script>
    <script src="../../public/front/js/index.js"></script>
</body>
</html>

