<?php include_once ROOT_PATH."view/front/header.html"?>
</div>
</form>
</div>
</div>
<?php include_once ROOT_PATH."view/front/nav_hide.html"?>
</div>
<div id="banner">
    <div class="b_main">
        <div class="b_m_pic">
                <ul>
                    <li><a href=""><img src="../../public/front/image/bbbb.jpg" alt=""></a></li>
                    <li><a href=""><img src="../../public/front/image/banner/bg_1.jpg" alt=""></a></li>
                    <li><a href=""><img src="../../public/front/image/banner/bg_2.jpg" alt=""></a></li>
                    <li><a href=""><img src="../../public/front/image/banner/bg_3.png" alt=""></a></li>
                    <li><a href=""><img src="../../public/front/image/banner/bg_4.jpg" alt=""></a></li>
                </ul>
        </div>
        <div class="b_m_tab">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="b_m_btn">
            <div class="left btn"></div>
            <div class="right btn"></div>
        </div>
    </div>
    <div class="b_nav">
        <ul>
            <li class="firstLi">
                <a href=""><span class="s1">光华  醋</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info">
                    <ul>
                        <?php foreach($category_result11 as $item):?>
                        <li><a href="../user/details.php?id=<?=$item['id']?>" class="title"><img src="../../public/upload/<?=$item['image']?>" style="width:35px;height: 40px;" alt=""><span><?=$item['name']?></span></a><a href="../user/details.php?id=<?=$item['id']?>" class="buy">选购</a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </li>
            <li class="firstLi">
                    <a href=""><span class="s1">光华  酱</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                    <div class="info">
                        <ul>
                            <?php foreach($category_result14 as $item):?>
                            <li><a href="../user/details.php?id=<?=$item['id']?>" class="title"><img src="../../public/upload/<?=$item['image']?>" style="width:35px;height:40px;" alt=""><span><?=$item['name']?></span></a><a href="../user/details.php?id=<?=$item['id']?>" class="buy">选购</a></li>
                            <?php endforeach;?>
                    </ul>
                    </div>
                </li>
            <li class="firstLi">
                <a href=""><span class="s1">光华  酱油</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info">
                    <ul>
                            <?php foreach($category_result12 as $item):?>
                        <li><a href="../user/details.php?id=<?=$item['id']?>" class="title"><img src="../../public/upload/<?=$item['image']?>" style="width:35px;height:40px;" alt=""><span><?=$item['name']?></span></a><a href="../user/details.php?id=<?=$item['id']?>" class="buy">选购</a></li>
                            <?php endforeach;?>
                    </ul>
                </div>
            </li>
            <li class="firstLi">
                <a href=""><span class="s1">光华  料酒</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info">
                    <ul>
                        <?php foreach($category_result13 as $item):?>
                        <li><a href="../user/details.php?id=<?=$item['id']?>" class="title"><img src="../../public/upload/<?=$item['image']?>" style="width:35px;height:40px;" alt=""><span><?=$item['name']?></span></a><a href="../user/details.php?id=<?=$item['id']?>" class="buy">选购</a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
                </li>
            <li class="firstLi">
                <a href=""><span class="s1">光华  醋精 </span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info">
                    <ul>
                            <?php foreach($category_result15 as $item):?>
                            <li><a href="../user/details.php?id=<?=$item['id']?>" class="title"><img src="../../public/upload/<?=$item['image']?>" style="width:35px;height:40px;" alt=""><span><?=$item['name']?></span></a><a href="../user/details.php?id=<?=$item['id']?>" class="buy">选购</a></li>
                            <?php endforeach;?>
                </ul>
                </div>
            </li>
            <li class="firstLi">
                <a href=""><span class="s1">光华  礼包</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info">
                    <ul>
                        <?php foreach($category_result16 as $item):?>
                        <li><a href="../user/details.php?id=<?=$item['id']?>" class="title"><img src="../../public/upload/<?=$item['image']?>" style="width:35px;height:40px;" alt=""><span><?=$item['name']?></span></a><a href="../user/details.php?id=<?=$item['id']?>" class="buy">选购</a></li>
                        <?php endforeach;?>
                </ul>
                </div>
            </li>
            <!-- <li class="firstLi">
                <a href=""><span class="s1">保护套 贴膜</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info"></div>
            </li>
            <li class="firstLi">
                <a href=""><span class="s1">线材 支架 存储卡</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info"></div>
            </li>
            <li class="firstLi">
                <a href=""><span class="s1">箱包 服饰</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info"></div>
            </li>
            <li class="firstLi">
                <a href=""><span class="s1">米兔 生活周边</span><span class="s2 iconfont icon-youjiantou1"></span></a>
                <div class="info"></div>
            </li> -->

        </ul>

    </div>
</div>
<!-- benner end -->
<!--ab strat  -->
<!-- <div id="ad">
    <div class="a_left">
        <ul>
            <li><a href=""><span class="iconfont icon-yijiuhuanxin"></span><span class="txt">选购手机</span></a><i class="right"></i><i class="bottom"></i></li>
            <li><a href=""><span class="iconfont icon-liwu"></span><span class="txt">企业团购</span></a><i class="right"></i><i class="bottom"></i></li>
            <li><a href=""><span class="iconfont icon-bofangye-caozuolan-xunhuan"></span><span class="txt">官翻产品</span></a><i class="bottom"></i></li>
            <li><a href=""><span class="iconfont icon-SIMqia"></span><span class="txt">小米移动</span></a><i class="right"></i></li>
            <li><a href=""><span class="iconfont icon-yijiuhuanxin"></span><span class="txt">以旧换新</span></a><i class="right"></i></li>
            <li><a href=""><span class="iconfont icon-shouji"></span><span class="txt">话费充值</span></a></li>
        </ul>
    </div>
    <div class="a_right">
            <a href=""><img src="../../public/front/image/ad/1.jpg" alt="" width="316" height="170" /></a>
            <a href=""><img src="../../public/front/image/ad/2.jpg" alt="" width="316" height="170" /></a>
            <a href=""><img src="../../public/front/image/ad/3.jpg" alt="" width="316" height="170" /></a>
        </div>
</div> -->
<!-- db end -->
<!-- star start -->
<div id="star">
    <h2>光华明星单品</h2>
    <div class="s_btn">
            <span class="left iconfont icon-arrow-left"></span><span class="able right iconfont icon-youjiantou1"></span>
        </div>
        <div class="s_show">
            <ul>
                <?php foreach($data as $item):?>
                <li style="border-color:#ff3366;">
                    <a href="../user/details.php?id=<?=$item['id']?>" class="img">
                        <img src="../../public/upload/<?=$item['image']?>" alt="" width="160" height="160"></a>
                        <a href="" class="title"><?=$item['name']?></a>
                        <span class="dec"><?=$item['name']?></span>
                        <span class="price"><?=$item['price']?></span>
                </li>
                <?php endforeach;?>
            </ul>
            <ul>
                <?php foreach($datatwo as $item):?>
                <li style="border-color:#ff9999;">
                    <a href="../user/details.php?id=<?=$item['id']?>" class="img">
                            <img src="../../public/upload/<?=$item['image']?>" alt="" width="160" height="160"></a>
                            <a href="" class="title"><?=$item['name']?></a>
                            <span class="dec"><?=$item['name']?></span>
                            <span class="price"><?=$item['price']?></span>
                </li>
                <?php endforeach;?>
            </ul>
        </div>
        <script>

            </script>
    <script src="../../public/front/js/jquery-3.3.1.js"></script>
    <script src="../../public/front/js/index.js"></script>
    <script>

    
    </script>
</div>
    <div id="footer">
        <div class="box">
            <ul>
                <li class="bold"><a href="">关于光华</a></li>
                <li><a href=""></a><a href="">公司介绍</a></li>
                <li><a href="">新闻中心</a></li>
                <li><a href="">卓越成就</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
            <ul>
                <li class="bold"><a href="">品牌介绍</a></li>
                <li><a href="">品牌理念</a></li>
                <li><a href="">卓越品质</a></li>
                <li><a href="">精彩活动</a></li>
            </ul>
            <ul>
                <li class="bold"><a href="">加入光华</a></li>
                <li><a href="">校园招聘</a></li>
                <li><a href="">校园招聘</a></li>
                <li><a href="">招聘职位</a></li>
            </ul>
            <ul>
                <li class="bold"><a href="">全球业务</a></li>
                <li><a href="">校园招聘</a></li>
                <li><a href="">校园招聘</a></li>
                <li><a href="">招聘职位</a></li>
            </ul>
        </div>
    </div>





