<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>光华酿造-注册</title>
    <link rel="stylesheet" href="../../public/front/css/register.css">
    <style>

    </style>
</head>

<body>
    <!-- header start -->
        <div id="header">
                <div class="h_title">
                    <h2>光华酿造</h2>
                    <a href="">
                        <img class="img" src="../../public/front/image/mi-logo.png" alt="" style="width:50px;" height="50px;">
                    </a>
                </div>
        </div>
    <!-- header end -->
    <!-- main start -->
        <div id="main">
            <!-- <a href=""><img src="../image/QQ图片20181120153618.jpg" style="" alt=""></a> -->
            <div class="m_login">
                <div class="m_headr">
                    <form action="" method="POST">
                    <h2>账号注册</h2>
                    <div class="m_user">
                    <input class="name" name="username" type="text" placeholder="用户名">
                    <input class="pwd" name="phone_number" type="text" placeholder="手机号码">
                    <input class="pwd" name="email" type="text" placeholder="邮箱">
                    <input class="pwd" name="password" type="password" placeholder="密码">
                    <input class="pwd" name="confirmpassword" type="password" placeholder="确认密码"">
                    </div>
                    <button class="log">注册</button>
                    </form>

                    <div class="user_top">
                    <div class="zhuce">
                        <a href="" class="zhuce_liji">
                            <span>立即登录 |</span>
                        </a>
                        <a href="" class="wang">
                            <span>忘记密码?</span>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <!-- main end -->

    <!-- footer -->
</body>
</html>